{% set elastic_hosts = [] %}
{% for host in groups.elastic_instances %}
  {{ elastic_hosts.append( host+":9200" ) }}
{% endfor %}
input {
  beats {
    port => "{{ ELK_stack.logstash.logstash_port }}"
  }
}

output {
  elasticsearch {
    hosts => ["{{ elastic_hosts | list | join ('\",\"') }}"]
  }
}

